#QUESTÃO 1(A)

def triangulo (teta1,teta2,teta3):
    if teta1 + teta2 + teta3 !=180:
        return "NÃO É UM TRIÂNGULO"

    if teta1 == 90 or teta2 == 90 or teta3 == 90:
        return "Triângulo reto"
    elif teta1 > 90 or teta2 > 90 or teta3 > 90:
        return "Triângulo obtusângulo"
    else:
        return "Triângulo acutângulo"

#QUESTÃO 1(B)

def angulo_interno(teta1,teta2,teta3):
    if teta1 == teta2 == teta3:
        return "Triângulo equilátero"
    elif teta1 == teta2 or teta1 == teta3 or teta2 == teta3:
        return "Triângulo isósceles"
    else:
        return "Triângulo escaleno"

#QUESTÃO 1(C)
def angulo_triangulo(teta1,teta2,teta3s):
    return triangulo(teta1,teta2,teta3) , angulo_interno(teta1,teta2,teta3)


#QUESTÃP 2
def sistema_registro(nome,data,ocupacao):
    alfa_nome = nome[:3]

    alfa_data = data[-4:]
    ano_invertido = alfa_data[::-1]
    
    parte_ocupação = ocupação[::3]

    return alfa_nome + ano_invertido + parte_ocupação

''' EXEMPLO DE USO: registro = sistema_registro("Carlos","01/01/1999","Programador")'''
    
    



    
